@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swieper navigation button style */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: .5rem;
    border-radius: .2rem;
}
